COMPOSE_PROJECT_NAME=archivon
ARCHIVON_ENV=dev
ARCHIVON_HTTP_PORT=8088
ARCHIVON_HTTPS_PORT=8443
ARCHIVON_STRATUM_PORT=3333
ARCHIVON_AUTH_SESSION_TTL_HOURS=12
ARCHIVON_COOKIE_SECURE=false
ARCHIVON_KMS_PROVIDER=local-file
ARCHIVON_KMS_KEY_ID=local-master-v1

POSTGRES_DB=archivon
POSTGRES_USER=archivon
POSTGRES_PASSWORD=change_me_for_local_dev
